.chat-fullpage {
    min-height: 100vh;
    background: #eaf4ff;
}


/* Chat list container */
.chat-list {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}


/* Individual chat card */
.chat-item {
    width: 100%;
    background: white;
    padding: 18px 25px;
    margin-bottom: 15px;
    box-sizing: border-box;

    border-radius: 10px;
    border: 1px solid #dbeafe;

    cursor: pointer;

    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);

    transition: 0.2s;
}


/* Hover effect */
.chat-item:hover {
    background: #f8fbff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}


/* Name */
.chat-user h3 {
    margin: 0;

    font-size: 18px;
    font-weight: 700;

    color: #111827;
}


/* User ID */
.chat-user p {
    margin: 5px 0 0;

    font-size: 14px;
    font-weight: 500;

    color: #64748b;
}